# Mac
.DS_Store
_DS_Store
*~*


# Folders
**/audit/
**/input/
**/output/
data/
gen/
**/temp/
.idea/


# Python
**.ipynb_checkpoints
**__pycache__
.scrapy
profile_default/
ipython_config.py

# token file
token.txt
